<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
<%- include('./partials/guest-navbar') %> 
<% let image = '/assets/banner/One stop shop.png' %> 
<% let caption = 'One stop shop for all your smartphone needs' %> 
<header class="banner d-flex justify-content-center align-items-center" style="background-image: url('/<%= banner?.image || image %>')">
  <h1 class="banner-text text-white"><%= banner?.caption || caption %></h1>
</header>
<%- include('./partials/users/landing-body') %> 
<%- include('./partials/footer') %> 
</body>
</html>