<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body class="pt-5">
<%- include('../partials/user-navbar') %> 
<section class="container min-vh-100 pt-5">
  <p class="text-danger" id="error"></p>
 <div class="row d-flex">
  <div class="col-lg-7 order-lg-0 order-1 my-3">
    <% let count = 0 %> 
    <% if(cart.length>0){ %> 
    <% cart.forEach(item => { %> 
      <% count++ %> 
    <div class="card row d-flex flex-row p-4 mb-2">
      <div class="col-sm-6">
        <img class="cart-images" src="/<%= item.skus[0].images[0] %> " alt="">
      </div>
      <div class="col-sm-6">
        <div>
          <p class="product-text-cart m-0"><%= item.productId.title %> </p>
          <p class="text-secondary m-0"><%= item.skus[0].color %></p>
          <p class="product-text-cart m-0">₹<%= item.productId?.offerPercent ? Math.round(item.skus[0].price - item.skus[0].price * item.productId?.offerPercent/100) : item.skus[0].price %></p>
        </div>
        <div class="d-flex align-items-center py-4">
          <button class="reduce-button <%= item.productId._id %>" data-subtract="true" data-id="<%= item.skus[0]._id %>" data-prodid="<%= item.productId._id %>" id="dec-button<%= count %>" onclick="changeQty(this.id, -1, '<%= count%>')" <%= item.quantity == 1? 'disabled': '' %> >-</button>
          <p class="item-count" id="<%= item.productId._id %>"><%= item.quantity %> </p>
          <button class="add-button" data-id="<%= item.skus[0]._id %>" data-add="true" data-prodid="<%= item.productId._id %>" id="inc-button<%= count %>" onclick="changeQty(this.id, 1, '<%= count%>')">+</button>
        </div>
        <div class="d-flex justify-content-between">
          <button class="sub-button" id="add-to-wishlist-button" onclick="moveToWishlist(this.id, '<%= item.productId._id %>', '<%= item.skus[0]._id %>')">Move to wishlist</button>
          <button class="sub-button" id="remove-button<%= count %>" onclick="removeProduct(this.id, '<%= item.productId._id %>', '<%= item.skus[0]._id %>')">Remove</button>
        </div>
      </div>
    </div>
    <% }) %> 
    <% }else{ %>
      <div>
        <p class="text-center fw-bold">Cart is empty</p>
      </div>
    <% } %>  
  </div>
  <div class="col-lg-5 order-lg-1 order-0 my-3 price-card">
    <div class="card p-4">
      <p>PRICE DETAILS</p>
      <div class="d-flex justify-content-between">
        <p>Price <%= cart.length>1?`(${count} items)`:'' %> </p>
        <% let totalValue = cart.reduce((sum, item) => sum+= (item.productId?.offerPercent ? Math.round(item.skus[0].price - item.skus[0].price * item.productId?.offerPercent/100) : item.skus[0].price) * item.quantity, 0) %> 
        <p id="cart-total">₹<%= totalValue %> </p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Tax</p>
        <p id="tax">₹<%= Math.round(totalValue*0.18) %> </p>
      </div>
      <hr>
      <div class="d-flex justify-content-between">
        <p>Total</p>
        <p id="total">₹<%= Math.round(totalValue + totalValue*0.18) %> </p>
      </div>
      <div class="d-flex justify-content-end mt-5">
        <a class="main-button text-decoration-none" href="/checkout">Place Order</a>
      </div>
    </div>
  </div>
 </div>
 <div class="toast-container position-fixed bottom-0 end-0 p-3 text-white">
  <div id="liveToast" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-danger text-white">
      <strong class="me-auto">Kroma</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Item out of stock
    </div>
  </div>
</div>
</section>
<%- include('../partials/footer') %> 
<script defer src="/script/userScript.js"></script>
</body>
</html>
