<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body class="pt-5">
<%- include('../partials/user-navbar') %> 
<div class="orders">
  <section class="container min-vh-100 pt-5">
    <div class="row">
      <div class="col-sm-4 side-bar">
        <div class="card p-3 m-4 bg-dark">
          <a class="text-decoration-none text-white" href="/dashboard">Dashboard</a>
        </div>
        <div class="card p-3 m-4">
          <a class="text-decoration-none" href="/orders">Orders</a>
        </div>
        <div class="card p-3 m-4">
          <a class="text-decoration-none" href="/dashboard/address/manage">Manage Address</a>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-12">
          <div class="card p-3">
            <div class="d-flex">
              <p class="col-6">Name: </p>
              <p class="col-6"><%= userDetails.fname + " " + userDetails.lname %> </p>
            </div>
            <div class="d-flex">
              <p class="col-6">Email: </p>
              <p class="col-6"><%= userDetails.email %> </p>
            </div>
            <div class="d-flex">
              <p class="col-6">Phone: </p>
              <p class="col-6"><%= userDetails.phone %> </p>
            </div>
            <div class="col-12 d-flex justify-content-end">
              <a class="main-button text-decoration-none" href="/dashboard/edit">Edit</a>
            </div>
          </div> 
        </div>
        <div class="col-md-6 my-4 order-card">
          <a href="/cart" class="text-decoration-none">
            <div class="card h-100 d-flex flex-row align-items-center justify-content-center">
              <img class="dashboard-icon me-2 mb-1" src="/assets/icons/shoppingcart.png" alt="">
              <h3>Cart</h3>
            </div>
          </a>
        </div>
        <div class="col-md-6 my-4 order-card">
          <a href="/wishlist" class="text-decoration-none">
            <div class="card h-100 d-flex flex-row align-items-center justify-content-center">
              <img class="dashboard-icon me-2 mb-1" src="/assets/icons/heart.png" alt="">
              <h3>Wishlist</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('../partials/footer') %> 
<script defer src="/script/userScript.js"></script>
</body>
</html>
