<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body class="pt-5">
<%- include('../partials/user-navbar') %> 
<section class="container min-vh-100 pt-5">
  <div>
    <div>
      <form class="row g-3" method="POST">
        <div class="col-md-6">
          <label for="fname" class="form-label">First Name</label>
          <input type="text" class="form-control" id="fname" value="<%= user.fname %>">
        </div>
        <div class="col-md-6">
          <label for="lname" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lname" value="<%= user.lname %>">
        </div>
        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" value="<%= user.email %>">
        </div>
        <p>Address:</p>
        <% user.shippingAddress.forEach(item => { %> 
        <div class="col-12">
          <label for="street1" class="form-label">Line 1</label>
          <input type="text" class="form-control" id="street1" placeholder="1234 Main St" value="<%= item.street1 %> ">
        </div>
        <div class="col-12">
          <label for="Street2" class="form-label">Line 2</label>
          <input type="text" class="form-control" id="Street2" placeholder="Apartment, studio, or floor" value="<%= item.street2 %> ">
        </div>
        <div class="col-md-6">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" value="<%= item.city %> ">
        </div>
        <div class="col-md-4">
          <label for="state" class="form-label">State</label>
          <input type="text" class="form-control" id="state" value="<%= item.state %> ">
        </div>
        <div class="col-md-2">
          <label for="zip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="zip" value="<%= item.zip %> ">
        </div>
        <% }) %> 
        <div class="col-12">
          <label for="street1" class="form-label">Line 1</label>
          <input type="text" class="form-control" id="street1" placeholder="1234 Main St">
        </div>
        <div class="col-12">
          <label for="Street2" class="form-label">Line 2</label>
          <input type="text" class="form-control" id="Street2" placeholder="Apartment, studio, or floor" >
        </div>
        <div class="col-md-6">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" >
        </div>
        <div class="col-md-4">
          <label for="state" class="form-label">State</label>
          <input type="text" class="form-control" id="state" >
        </div>
        <div class="col-md-2">
          <label for="zip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="zip">
        </div>
        <div class="col-12 d-flex justify-content-between">
          <button type="submit" formaction="/users/save" class="main-button">Submit</button>
          <button type="submit" formaction="/edit/address" class="sub-button">Add more addresses</button>
        </div>
      </form>
    </div>
  </div>
</section>
<%- include('../partials/footer') %> 
<script src="/script/userScript.js"></script>
</body>
</html>

