<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body class="pt-5">
<%- include('../partials/user-navbar') %> 
<section class="container min-vh-100 pt-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <div>
        <p class="text-muted"><strong>Order Id: </strong><%= order._id %> </p>
        <p class="fs-3 fw-bold">Total amount: ₹<%= order.totalAmount %> </p>
        <p class="fs-5">Ordered on: <%= order.createdAt.toString().slice(0,16) %> </p>
      </div>
      <div class="px-4">
        <div>
          <p class="fw-bold">Address:</p>
        </div>
        <div>
          <p><%= order.address.street1 %>, <%= order.address.street2 %>, <%= order.address.city %>, <%= order.address.state %>, <%= order.address.zip %></p>
        </div>
        <% if(order.payment[0]?.paymentId) {%> 
        <div>
          Transaction Id:
        </div>
        <div>
          <%= order.payment[0]?.paymentId %> 
        </div>
        <% } %> 
      </div>
    </div>
    <% let count = 0 %> 
    <% order.items.forEach(item => { %> 
      <% count++ %> 
    <div class="col-12">
      <div class="card row d-flex flex-row p-3 my-2">
        <div class="col-md-4 d-flex justify-content-center">
          <img class="checkout-images" src="/<%= item.image %> " alt="">
        </div>
        <div class="col-md-4">
          <p><%= item.productName %></p>
          <p class="text-muted"><%= item.color %></p>
          <p>₹<%= Math.round(item.price*1.18) %> </p>
          <p class="">Quantity: <%= item.quantity %> </p>
        </div>
        <div class="col-md-4">
          <% if(item.isCancelled){ %>
            <div>
              <p class="text-danger">Order status: Cancelled</p>
              <p class="fw-bold">Refund: <%= order.payment[0].refundStatus == 'processed' ? 'Completed' : 'Pending' %> </p>
            </div>
          <% }else if(item.orderStatus == 'Delivered'){ %>
            <div>
              <p class="fw-bold text-success">Order status: Delivered</p>
            </div> 
          <% }else{ %>
            <div class="h-100 d-flex flex-column justify-content-between" id="status<%= count %>">
              <div>
                <p id="order-status<%= count %>">Order status: <%= item.orderStatus %> </p>
                <p>Payment status: <%= order.paymentMethod == 'COD'? order.paymentMethod : (order.paymentVerified? 'Completed' : 'Pending') %></p>
              </div>
              <div>
                <button class="sub-button" data-bs-toggle="modal" data-bs-target="#modal<%= count %>">Cancel Order</button>
              </div>
            </div>
            <div id="cancel<%= count %>" class="d-none">
              <p class="text-danger">Order status: Cancelled</p>
            </div>
          <% } %>   
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal<%= count %>" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalLabel">Confirm Order Cancellation</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to cancel this order?
          </div>
          <div class="modal-footer">
            <button type="button" class="sub-button" data-bs-dismiss="modal">Close</button>
            <button type="button" class="main-button" data-bs-dismiss="modal" onclick="cancelOrder('<%= item._id %>', 'status<%= count %>', 'cancel<%= count %>')">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    <% }) %> 
    <div class="col-12 d-flex m-3 justify-content-end">
      <a href="/invoice/download/<%= order._id %>" class="sub-button text-decoration-none">Download Invoice</a>
    </div>
  </div>
</section>
<%- include('../partials/footer') %> 
<script defer src="/script/userScript.js"></script>
</body>
</html>
