<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body class="pt-5">
<%- include('../partials/user-navbar') %> 
<section class="container min-vh-100 pt-5">
  <div class="row d-flex justify-content-between">
    <div class="col-6">
      <p class="text-muted">Order Id: <%= order._id %></p>
      <h5>Ordered on: <%= order.createdAt.toString().slice(0,16) %></h5>
    </div>
    <div class="col-6">
      <% if(order.isCancelled){ %>
        <div>
          <h3 class="fw-bold text-danger d-flex flex-column justify-content-between text-end">Order status: Cancelled</h3>
        </div>
        <% if(order.payment && order?.payment[0]?.refund) {%> 
          <div>
            <p class="fw-bold text-end"><%= (order?.payment[0]?.refundStatus == 'processed' ? 'Refund Completed' : 'Refund Pending') %> </p>
          </div>
        <% } %>  
      <% }else if(order.orderStatus == 'Delivered'){ %>
        <div>
          <h3 class="fw-bold text-success d-flex flex-column justify-content-between text-end">Order status: Delivered</h3>
        </div> 
      <% }else{ %>
        <div class="d-flex flex-column justify-content-between text-end">
          <div>
            <p class="fw-bold">Order status: <%= order.orderStatus %> </p>
            <p>Payment status: <%= order.paymentMethod == 'COD'? order.paymentMethod : (order.paymentVerified? 'Completed' : 'Pending') %></p>
          </div>
        </div>
        <% } %> 
    </div>
    <div class="col-sm-6">
      <% order.items.forEach(item => { %>
        <div class="card d-flex flex-row p-4 m-2">
          <div class="col-6">
            <img class="checkout-images" src="/<%= item.image %>" alt="">
          </div>
          <div class="col-6">
            <h6><%= item.productName %></h6>
            <p class="text-muted"><%= item.color %></p>
            <p class="fw-bold">₹<%= item.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></p>
            <p>Quantity: <%= item.quantity %> </p>
          </div>
        </div>
      <% }) %>
    </div>
    <div class="col-sm-4">
      <div class=" my-5">
        <h3>Address</h3>
        <p><%= order.address.street1 + ', '+ order.address.street2 + ', ' + order.address.city + ', ' + order.address.state + ', ' + order.address.zip%></p>
      </div>
      <div class="d-flex flex-row mb-5">
        <div class="col-6">
          <p>Total:</p>
          <p>Tax:</p>
          <% if(order.couponId) {%> 
          <p><%= order.couponId?.code %>:</p>
          <% } %> 
          <p class="fw-bold">Grand Total:</p>
        </div>
        <div class="col-6">
          <p>₹<%= total %> </p>
          <p>₹<%= Math.round(total*0.18) %> </p>
          <% if(order.couponId) {%> 
          <p>-₹<%= Math.round(discount) %>:</p>
          <% } %> 
          <p class="fw-bold">₹<%= order.totalAmount %> </p>
        </div>
      </div>
      <% if(!order.isCancelled){ %> 
      <div class="col-12 d-flex m-3 justify-content-between">
        <a href="/invoice/download/<%= order._id %>" class="main-button text-decoration-none">Download Invoice</a>
        <% if(order.orderStatus != 'Delivered') {%> 
        <button class="sub-button ms-3" data-bs-toggle="modal" data-bs-target="#modal">Cancel Order</button>
        <% } %> 
      </div>
      <% } %> 
    </div>
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalLabel">Confirm Order Cancellation</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to cancel this order?
          </div>
          <div class="modal-footer">
            <button type="button" class="sub-button" data-bs-dismiss="modal">Close</button>
            <button type="button" class="main-button" data-bs-dismiss="modal" onclick="cancelOrder('<%= order._id %>')">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footer') %> 
<script defer src="/script/userScript.js"></script>
</body>
</html>
