<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body class="pt-5">
<%- include('../partials/user-navbar') %> 
<div class="orders">
  <section class="container min-vh-100 pt-5">
    <div class="row">
      <div class="col-sm-4 side-bar">
        <div class="card p-3 m-4">
          <a class="text-decoration-none" href="/dashboard">Dashboard</a>
        </div>
        <div class="card p-3 m-4 bg-dark">
          <a class="text-decoration-none text-white" href="/orders">Orders</a>
        </div>
        <div class="card p-3 m-4">
          <a class="text-decoration-none" href="/dashboard/address/manage">Manage Address</a>
        </div>
      </div>
      <% if(orders.length >0) {%>
      <% orders.forEach(order => { %> 
        <div class="col-12 my-2">
          <a href="/orders/<%= order._id %> " class="text-decoration-none">
            <div class="card row d-flex flex-row p-3">
              <% order.items.forEach((item, index, array) => { %> 
              <div class="col-12 row">
                <div class="col-lg-10 d-flex flex-row">
                  <div class="col-6">
                    <p class="fw-bold order-text order-details text-truncate"><%= item.productName %></p>
                  </div>
                  <div class="ms-4 col-6">
                    <p><%= item.color %></p>
                  </div>
                </div>
              <div class="col-lg-2">
                <div>
                  <p class="">Quantity: <%= item.quantity %> </p>
                </div>
              </div>
              
              </div>
              
            <% }) %>
            <div class="col-12 d-flex flex-row justify-content-end">
              <% if(order.isCancelled){ %>
                <div>
                  <p class="text-danger"><strong>Order Status: </strong>Cancelled</p>
                </div>
              <% }else if(order.return){ %> 
                <div>
                  <p class="text-warning"><strong>Refund Status: </strong><%= order.returnStatus %> </p>
                </div>
              <% }else if(order.orderStatus == 'Delivered'){ %> 
                <div>
                  <p class="text-success"><strong>Order Status: </strong>Delivered</p>
                </div>
              <% }else{ %>
                <div>
                  <p><strong>Order Status: </strong><%= order.orderStatus %> </p>
                </div>
              <% } %>   
            </div>
          </div>
        </a>
      </div>
      <% }) %> 
      <% }else {%>
        <div class="text-center">
          <p class="fw-bold">No orders to show</p>
        </div>
      <% } %>
    </div>
  </section>
</div>
<%- include('../partials/footer') %> 
<script defer src="/script/userScript.js"></script>
</body>
</html>
