<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body class="pt-5">
<% if(user){ %> 
<%- include('../partials/user-navbar') %> 
<% }else{ %>
<%- include('../partials/guest-navbar') %>
<% } %>  
<section class="container">
  <div class="row">
    <div class="col-12 pt-4">
      <h3>All Products</h3>
    </div>
    <div class="col-12 d-sm-none">
      <div class="col-12 pt-1 collapse" id="filters">
        <p>Price Filter</p>
        <form action="/products/filter" method="GET" class="row">
          <div class=" col-6">
            <input class="form-control range-form" type="text" name="from" id="from1" placeholder="from" value="<%= fromValue %>">
          </div>
          <div class=" col-6">
            <input class="form-control range-form" type="text" name="to" id="to1" placeholder="to" value="<%= toValue %>">
          </div>
          <div class="d-flex flex-column">
            <p>Categories</p>
            <% categories.forEach(item => { %> 
            <label for="brand">
              <input class="form-check-input" type="checkbox" name="<%= item._id %> "> 
              <%= item.categoryName %> 
            </label>
            <% }) %> 
          </div>
          <div class="pt-4">
            <button type="submit" class="main-button">Submit</button>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-end pt-3">
        <button class="sub-button" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters" >Filters</button>
      </div>
    </div>
    <div class="col-3 d-sm-flex d-none card mt-3">
      <h4 class="pt-4">Filters</h4>
      <div class="col-12 pt-1">
        <p>Price Filter</p>
        <form action="/products/filter" method="GET" class="row">
          <div class=" col-6">
            <input class="form-control range-form" type="number" name="from" id="from2" placeholder="from" value="<%= fromValue %>">
          </div>
          <div class=" col-6">
            <input class="form-control range-form" type="number" name="to" id="to2" placeholder="to" value="<%= toValue %>">
          </div>
          <div class="d-flex flex-column pt-3">
            <p>Categories</p>
            <% categories.forEach(item => { %> 
            <label for="<%= item._id %>">
              <input id="<%= item._id %>" class="form-check-input" type="checkbox" name="category[]" value="<%= item._id %>" <%= checked.includes(item.id)?'checked': '' %>> 
              <%= item.categoryName %> 
            </label>
            <% }) %> 
          </div>
          <div class="pt-4">
            <button type="submit" class="main-button">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-9 row">
      <% if(products.length>0){ %> 
      <% products.forEach(product => { %> 
        <div class="col-md-4">
            <a class="product-anchor" href="/products/details/<%= product._id %>/<%= product.skus._id %>  ">
            <div class="card product-display-card d-flex flex-sm-column flex-row p-2 my-3 justify-content-center">
              <div class="col-sm-12 col-6 d-flex justify-content-center">
                <img class="product-card-image" src="/<%= product.skus.images[0] %> " alt="">
              </div>
              <div class="col-sm-12 col-6">
                <div class="m-2">
                  <h5 class="product-title text-center"><%= product.title %> </h5>
                  <p class="text-secondary"><%= product.skus.color %></p>
                  <p class="text-success">₹<%= product.offerPercent ? Math.round(product.skus.price - product.skus.price * product.offerPercent/100) : product.skus.price %> </p>
                  <% if(product.offerPercent) {%>
                    <p class="m-0"><span class="fw-bold text-success"><%= product.offerPercent %>% off</span> <span class="text-muted"><s>₹<%= product.skus.price %> </s></span></p>
                  <% } %>  
                </div>
              </div>
            </div>
          </a>
          </div>
      <% }) %> 
      <% }else{ %>
        <div class="col-12 d-flex justify-content-center">
          <p class="fw-bold">No items matched the search</p>
        </div>
      <% } %>  
    </div>
  </div>
</section>
<%- include('../partials/footer') %> 
</body>
</html>
